@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
  scroll-behavior: smooth;
}

p, div {
  font-family: 'Inter', serif;
}

li, h1, h2, h3 {
  font-family: 'Inter', sans-serif;
  line-height: 1.2;
}

.rru-logo {
  margin: 15px 10px;
}